<div class="container">

  <h1>My Tasks</h1>

  <ul class="list">
    <% @tasks.each do |task| %>
      <li>
        <% if task.completed %>
          <i class="fa fa-check-square-o"></i>
        <% else %>
          <i class="fa fa-square-o"></i>
        <% end %>
        <%= link_to task.title, display_task_path(task) %>
        -
        <%= link_to destroy_task_path(task), method: :delete, data: {confirm: "Are you sure?"} do %>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        <% end %>
      </li>
    <% end %>
  </ul>

  <p><%= link_to 'Add new task', tasks_new_path %></p>

</div>
